.AboutProduct{
    display: flex;
    justify-content: space-between;
    background-color: #2b80b5;
    color: white;
    margin: 10px 0;
    padding: 20px;
    border-radius: 15px;
    .product-image{
        width: 45%;
        height: 450px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: white;
    border-radius: 15px;

    }
    .product-details{
        width: 50%;
        padding: 20px 0;
        h2{
            font-size: 30px;
        }
        p{
            margin-top: 30px;
            font-size: 19px;
            span{
                font-weight: 900;
            }
        }
    }
}